{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto blog-content">
                <p class="lead">Кратко о нашем поселке</p>
                <p><img src="{% static 'images/n_lyada.jpg' %}" alt="Image" class="img-fluid"></p>
                <p>Основан в XVIII веке как сельское поселение, статус посёлка с 1938 года.</p>
                <p>Находится в 15 км от Тамбова (в сторону Рассказово)</p>
                <p></p>
                <br>
                <!--                Кнопка-->
                <div style="display: flex; justify-content: flex-end;">
                    <button class="button-83" role="button">Подробнее...</button>
                </div>
            </div>

        </div>
    </div>
</section>

<hr class="hr-shelf">

<div class="site-section" id="press-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="block-heading-1">
                    <span>Новости и события</span>
                    <h2>Немного новостей</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <ul class="list-unstyled">
                    {% for event in events %}
                    <li class="mb-4">
                        <h2 class="h4"><a href="{{ event.get_absolute_url }}" class="text-black">{{ event.title }}</a></h2>
                        <div class="d-flex align-items-start">  <!-- Flex-контейнер -->
                            <div class="flex-shrink-0">  <!-- Картинка не сжимается -->
                                <img
                                        src="{{ event.image.url }}"
                                        class="img-fluid rounded"
                                        style="width: 200px; height: auto;"
                                >
                            </div>
                            <div class="flex-grow-1 ms-3">  <!-- Текст растягивается + отступ слева 1rem -->
                                <span class="d-block text-secondary">{{ event.date_of_event }}</span>
                                <p class="mb-0">{{ event.content|truncatechars:100 }}</p>
                                <!-- mb-0 убирает отступ снизу -->
                            </div>
                        </div>
                        <p class="link-read-post"><a href="{{ event.get_absolute_url }}">Читать пост</a></p>
                    </li>
                    <hr class="hr-shelf">
                    {% endfor %}
                </ul>
                <br>

                <div style="display: flex; justify-content: flex-end;">
                    <a href="{% url 'events:events_all' %}"><button class="button-83" role="button">Все новости</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="block-heading-1">
                    <span>Объявления</span>
                    <h2>Немного объявлений</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <ul class="list-unstyled">
                    {% for ad in ads %}
                    <li class="mb-4">
                        <h2 class="h4"><a href="{{ ad.get_absolute_url }}" class="text-black">{{ ad.title }}</a></h2>
                        <div class="d-flex align-items-start">
                            <div class="flex-shrink-0">
                                {% if ad.image %}
                                <img src="{{ ad.image.url }}" class="img-fluid rounded" style="width: 200px; height: auto;" alt="{{ ad.title }}">
                                {% else %}
                                <div class="bg-light d-flex align-items-center justify-content-center rounded" style="width: 200px; height: 120px;">
                                    <span class="icon-image text-muted"></span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="d-block text-secondary">{{ ad.created|date:"d.m.Y H:i" }}</span>
                                <p class="mb-0">{{ ad.content|truncatechars:100 }}</p>
                            </div>
                        </div>
                        <p class="link-read-post"><a href="{{ ad.get_absolute_url }}">Перейти к объявлению</a></p>
                    </li>
                    <hr class="hr-shelf">
                    {% endfor %}
                </ul>
                <br>

                <div style="display: flex; justify-content: flex-end;">
                    <a href="{% url 'advertisement:advertisement_all' %}"><button class="button-83" role="button">Все объявления</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
