{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="authorization_form shadow-lg p-3 mb-5 bg-white rounded ">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form-group text-center">
                <h1>{{title}}</h1>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <label class="" for="{{ f.id_for_label }}">{{ f.label }}</label>
                <p class="">{{ f }}</p>
                {% endfor %}
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary text-center">Войти</button>
                    <a href="{% url 'users:register' %}">
                        <button type="button" class="btn btn-primary text-center">Регистрация</button>
                    </a>
                    <hr class="hr-shelf">


                    <hr class="hr-shelf">
                    <p><a href="{% url 'users:password_reset' %}">Забыли пароль?</a></p>
                </div>
            </div>
        </form>

        <hr class="hr-shelf">


    </div>
</div>


{% endblock content %}